body{
    font-family: 'Sego UI', sans-serif;
    margin: 0;
    background-color: #111;
    color: #f0f0f0;
}

header{
    background-color: #1a1a1a;
    padding: 2rem;
    text-align: center;
}

header h1{
    color: #ff00f2;
    margin-bottom: 0.5rem;
}

nav a {
    margin: 0.1rem;
    color: #00ffcc;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
}

h2 {
    color: #00ffcc;
    margin-top: 2rem;
}

.proyecto{
    display: flex;
    flex-wrap: wrap;
    background-color: #222;
    margin-bottom: 1rem;
    padding: 1rem;
    border-left: 4px solid #00ffcc;
}

.proyecto img{
    max-width: 200px;
    margin-right: 1rem;
    border-radius: 8px;
}

.proyecto div{
    flex: 1;
}

a {
    color: #00ffcc;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #1a1a1a;
    padding: 2rem;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
}

@media (max-width: 600px) {
    .proyecto {
        flex-direction: column;
        align-items: center;
    }

    .proyecto img {
        margin-bottom: 1rem;
        margin-right: 0;
    }
}